<template>
  <div id="administrators">
    <div>
      <div class="row">
        <div class="col-md-3" id="links">
          <div class="list-group" style="margin-top: 20px">
            <a
              class="list-group-item list-group-item-action list-group-item-warning"
              @click="patients"
            >
              Patients
            </a>
            <a
              class="list-group-item list-group-item-action list-group-item-warning"
              @click="doctors"
            >
              Doctors
            </a>
            <a
              class="list-group-item list-group-item-action list-group-item-warning"
              @click="appointments"
            >
              Appointments
            </a>
            <a
              class="list-group-item list-group-item-action list-group-item-warning"
              @click="staffs"
            >
              Staffs
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div id="home">
            <a href="/" id="signout">Sign Out</a>
            <label id="welcome">Welcome Administrator</label>
          </div>

          <div v-if="showPatients">
            <h1>Patients</h1>
            <form id="form">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >First Name:</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="First Name"
                      v-model="patientsForm.pfname"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >Last Name:</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      v-model="patientsForm.plname"
                      placeholder="Last Name"
                    />
                  </div>
                </div>

                <label class="col-form-label col-form-label-lg" id="check"
                  >Sex:
                </label>
                <div class="form-check form-check-inline" id="check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    value="Male"
                    v-model="patientsForm.psex"
                    checked
                  />
                  <label class="form-check-label" for="exampleRadios1">
                    Male
                  </label>
                </div>
                <div class="form-check form-check-inline" id="check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    value="Female"
                    v-model="patientsForm.psex"
                  />
                  <label class="form-check-label" for="exampleRadios2">
                    Female
                  </label>
                </div>
                <div class="form-check form-check-inline" id="check">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="exampleRadios"
                    value="Other"
                    v-model="patientsForm.psex"
                  />
                  <label class="form-check-label" for="exampleRadios2">
                    Other
                  </label>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >Address</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Address"
                      v-model="patientsForm.paddress"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >Zip Code</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="#####"
                      v-model="patientsForm.pzip"
                    />
                  </div>
                </div>

                <label class="col-form-label col-form-label-lg"
                  >Telephone
                </label>
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="(###) ###-####"
                  v-model="patientsForm.ptelephone"
                />

                <label class="col-form-label col-form-label-lg"
                  >Birth Date</label
                >

                <input
                  class="form-control form-control-lg"
                  type="date"
                  v-model="patientsForm.pbirthdate"
                />
              </div>

              <button
                type="button"
                class="btn btn-success btn-lg btn-block"
                v-if="!isPatientsEdit"
                @click="insertPatients"
              >
                Submit
              </button>

              <div class="row" style="margin-top: 20px" v-if="isPatientsEdit">
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-warning btn-lg btn-block"
                    @click="updatePatients"
                  >
                    Update
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-secondary btn-lg btn-block"
                    @click="cancelPatients"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
            <div style="margin-top: 20px">
              <table class="table table-hover" id="patientsTable">
                <thead>
                  <tr class="table-primary">
                    <th scope="row">ID</th>
                    <td>Name</td>
                    <td>Address</td>
                    <td>Sex</td>
                    <td>Telephone</td>
                    <td>Birth Date</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(patient, i) in patientsData" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ patient.plname }}, {{ patient.pfname }}</td>
                    <td>{{ patient.paddress }}, {{ patient.pzip }}</td>
                    <td>{{ patient.psex }}</td>
                    <td>{{ patient.ptelephone }}</td>
                    <td>{{ patient.pbirthdate }}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-6">
                          <a
                            class="btn btn-danger"
                            @click="deletePatients(patient._id)"
                            ><i class="fa fa-trash-o" style="width: 20px"></i
                          ></a>
                        </div>
                        <div class="col-md-6">
                          <a
                            class="btn btn-success"
                            @click="editPatients(patient)"
                            ><i class="fa fa-edit"></i
                          ></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div v-if="showDoctors">
            <h1>Doctors</h1>
            <form id="form">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >First Name:</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="First Name"
                      v-model="doctorsForm.dfname"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >Last Name:</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Last Name"
                      v-model="doctorsForm.dlname"
                    />
                  </div>
                </div>

                <label class="col-form-label col-form-label-lg"
                  >Telephone
                </label>
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="(###) ###-####"
                  v-model="doctorsForm.dtelephone"
                />

                <label class="col-form-label col-form-label-lg"
                  >Specialty</label
                >
                <input
                  class="form-control form-control-lg"
                  type="text"
                  v-model="doctorsForm.dspecialty"
                />
              </div>
            </form>

            <button
              type="button"
              class="btn btn-success btn-lg btn-block"
              v-if="!isDoctorsEdit"
              @click="insertDoctors"
            >
              Submit
            </button>

            <div class="row" style="margin-top: 20px" v-if="isDoctorsEdit">
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-warning btn-lg btn-block"
                  @click="updateDoctors"
                >
                  Update
                </button>
              </div>
              <div class="col-md-6">
                <button
                  type="button"
                  class="btn btn-secondary btn-lg btn-block"
                  @click="cancelDoctors"
                >
                  Cancel
                </button>
              </div>
            </div>
            <div style="margin-top: 20px">
              <table class="table table-hover" id="doctorsTable">
                <thead>
                  <tr class="table-primary">
                    <th scope="row">ID</th>
                    <td>Name</td>
                    <td>Telephone</td>
                    <td>Specialty</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(doctor, i) in doctorsData" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ doctor.dlname }}, {{ doctor.dfname }}</td>
                    <td>{{ doctor.dtelephone }}</td>
                    <td>{{ doctor.dspecialty }}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-6">
                          <a
                            class="btn btn-danger"
                            @click="deleteDoctors(doctor._id)"
                            ><i class="fa fa-trash-o" style="width: 20px"></i
                          ></a>
                        </div>
                        <div class="col-md-6">
                          <a
                            class="btn btn-success"
                            @click="editDoctors(doctor)"
                            ><i class="fa fa-edit"></i
                          ></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div v-if="showAppontments">
            <h1>Appointments</h1>
            <form id="form">
              <div class="form-group">
                <label class="col-form-label col-form-label-lg" id="check"
                  >Status:
                </label>
                <select
                  class="form-control form-control-lg"
                  v-model="appointmentsForm.astatus"
                >
                  <option value="" disabled selected>Chose A Status</option>
                  <option value="Open">Open</option>
                  <option value="Closed">Closed</option>
                  <option value="Delayed">Delayed</option>
                  <option value="Missed">Missed</option>
                  <option value="Cancelled">Cancelled</option>
                </select>

                <label class="col-form-label col-form-label-lg">Location</label>
                <input
                  class="form-control form-control-lg"
                  type="text"
                  placeholder="Location"
                  v-model="appointmentsForm.alocation"
                />

                <label class="col-form-label col-form-label-lg">Date</label>
                <input
                  class="form-control form-control-lg"
                  type="date"
                  v-model="appointmentsForm.adate"
                />

                <label class="col-form-label col-form-label-lg">Time</label>
                <input
                  class="form-control form-control-lg"
                  type="time"
                  v-model="appointmentsForm.atime"
                  placeholder="00:00"
                />
                <p><small>Use 24-hour Clock or Military Time</small></p>

                <label class="col-form-label col-form-label-lg">Patients</label>
                <select
                  class="form-control form-control-lg"
                  id="patientsName"
                  v-model="appointmentsForm.apatient"
                >
                  <option value="" disabled selected>Chose A Patient</option>
                  <option
                    v-for="(patientName, i) in patientsName"
                    v-bind:value="patientName.plname"
                    :key="i"
                  >
                    {{ patientName.plname }}, {{ patientName.pfname }}
                  </option>
                </select>

                <label class="col-form-label col-form-label-lg">Doctor</label>
                <select
                  class="form-control form-control-lg"
                  id="doctorsName"
                  v-model="appointmentsForm.adoctor"
                >
                  <option value="" disabled selected>Chose A Doctor</option>
                  <option
                    v-for="(doctorName, i) in doctorsName"
                    v-bind:value="doctorName.dlname"
                    :key="i"
                  >
                    {{ doctorName.dlname }}, {{ doctorName.dfname }}
                  </option>
                </select>
              </div>

              <button
                type="button"
                class="btn btn-success btn-lg btn-block"
                v-if="!isAppointmentsEdit"
                @click="insertAppointments"
              >
                Submit
              </button>

              <div
                class="row"
                style="margin-top: 20px"
                v-if="isAppointmentsEdit"
              >
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-warning btn-lg btn-block"
                    @click="updateAppointments"
                  >
                    Update
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-secondary btn-lg btn-block"
                    @click="cancelAppointments"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
            <div style="margin-top: 20px">
              <table class="table table-hover" id="appointmentsTable">
                <thead>
                  <tr class="table-primary">
                    <th scope="row">ID</th>
                    <td>Status</td>
                    <td>Location</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td>Patients</td>
                    <td>Doctors</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(app, i) in appointmentsData" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ app.astatus }}</td>
                    <td>{{ app.alocation }}</td>
                    <td>{{ app.adate }}</td>
                    <td>{{ app.atime }}</td>
                    <td>{{ app.apatient }}</td>
                    <td>Dr. {{ app.adoctor }}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-6">
                          <a
                            class="btn btn-danger"
                            @click="deleteAppointments(app._id)"
                            ><i class="fa fa-trash-o" style="width: 20px"></i
                          ></a>
                        </div>
                        <div class="col-md-6">
                          <a
                            class="btn btn-success"
                            @click="editAppointments(app)"
                            ><i class="fa fa-edit"></i
                          ></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div v-if="showStaffs">
            <h1>Staff</h1>
            <form id="form">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >First Name:</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="First Name"
                      v-model="staffsForm.sfname"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >Last Name:</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Last Name"
                      v-model="staffsForm.slname"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >Username</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Username"
                      v-model="staffsForm.susername"
                    />
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label col-form-label-lg"
                      >Password</label
                    >
                    <input
                      class="form-control form-control-lg"
                      type="text"
                      placeholder="Password"
                      v-model="staffsForm.spassword"
                    />
                  </div>
                </div>
                <label class="col-form-label col-form-label-lg" id="check"
                  >Type of Staff:
                </label>
                <select
                  class="form-control form-control-lg"
                  v-model="staffsForm.sstaff"
                >
                  <option value="" disabled selected>Chose A Type</option>
                  <option value="Administrator">Administrator</option>
                  <option value="Regular">Regular Staff</option>
                </select>
              </div>

              <button
                type="button"
                class="btn btn-success btn-lg btn-block"
                v-if="!isStaffsEdit"
                @click="insertStaffs"
              >
                Submit
              </button>

              <div class="row" style="margin-top: 20px" v-if="isStaffsEdit">
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-warning btn-lg btn-block"
                    @click="updateStaffs"
                  >
                    Update
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    type="button"
                    class="btn btn-secondary btn-lg btn-block"
                    @click="cancelStaffs"
                  >
                    Cancel
                  </button>
                </div>
              </div>
            </form>
            <div style="margin-top: 20px">
              <table class="table table-hover" id="staffsTable">
                <thead>
                  <tr class="table-primary">
                    <th scope="row">ID</th>
                    <td>Name</td>
                    <td>Username</td>
                    <td>Password</td>
                    <td>Staff</td>
                    <td>Action</td>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(staff, i) in staffsData" :key="i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ staff.slname }}, {{ staff.sfname }}</td>
                    <td>{{ staff.susername }}</td>
                    <td>{{ staff.spassword }}</td>
                    <td>{{ staff.sstaff }}</td>
                    <td>
                      <div class="row">
                        <div class="col-md-6">
                          <a
                            class="btn btn-danger"
                            @click="deleteStaffs(staff._id)"
                            ><i class="fa fa-trash-o" style="width: 20px"></i
                          ></a>
                        </div>
                        <div class="col-md-6">
                          <a class="btn btn-success" @click="editStaffs(staff)"
                            ><i class="fa fa-edit"></i
                          ></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
#links {
  height: 100%;
  padding-bottom: 55%;
  margin-top: 20px;
  background-color: maroon;
  border-radius: 5px;
}
#check {
  margin-right: 50px;
}
h1 {
  text-align: center;
  margin-top: 20px;
}
#home {
  margin-top: 20px;
}
#signout {
  margin-left: 90%;
}
#welcome {
  font-size: 50px;
}
table {
  margin-bottom: 100px;
}
</style>

<script>
export default {
  name: "administrators",
  data() {
    return {
      error: "",

      idtoUpdate: "",

      patientsName: [],
      doctorsName: [],

      isPatientsEdit: false,
      isDoctorsEdit: false,
      isAppointmentsEdit: false,
      isStaffsEdit: false,

      showPatients: false,
      showDoctors: false,
      showAppontments: false,
      showStaffs: false,

      patientsData: [],
      doctorsData: [],
      appointmentsData: [],
      staffsData: [],

      patientsForm: {
        pfname: "",
        plname: "",
        paddress: "",
        pzip: "",
        psex: "",
        ptelephone: "",
        pbirthdate: "",
      },

      doctorsForm: {
        dfname: "",
        dlname: "",
        dtelephone: "",
        dspecialty: "",
      },

      appointmentsForm: {
        astatus: "",
        alocation: "",
        adate: "",
        astatus: "",
        atime: "",
        apatient: "",
        adoctor: "",
      },

      staffsForm: {
        sfname: "",
        slname: "",
        susername: "",
        spassword: "",
        sstaff: "",
      },
    };
  },
  methods: {
    findpatients: function () {
      let $this = this;
      $.ajax({
        url: `${baseURL}/patients/findall`,
        type: "GET",
        success: function (data, status) {
          if (status === "success") {
            $this.patientsData = JSON.parse(data);
          }
        },
      });
    },
    finddoctors: function () {
      let $this = this;
      $.ajax({
        url: `${baseURL}/doctors/findall`,
        type: "GET",
        success: function (data, status) {
          if (status === "success") {
            $this.doctorsData = JSON.parse(data);
          }
        },
      });
    },
    findstaffs: function () {
      let $this = this;
      $.ajax({
        url: `${baseURL}/staffs/findall`,
        type: "GET",
        success: function (data, status) {
          if (status === "success") {
            $this.staffsData = JSON.parse(data);
          }
        },
      });
    },

    findappointments: function () {
      let $this = this;
      $.ajax({
        url: `${baseURL}/appointments/findall`,
        type: "GET",
        success: function (data, status) {
          if (status === "success") {
            $this.appointmentsData = JSON.parse(data.appointment);
            $this.patientsName = JSON.parse(data.patientApp);
            $this.doctorsName = JSON.parse(data.doctorApp);
          }
        },
      });
    },

    patients: function () {
      this.showDoctors = false;
      this.showAppontments = false;
      this.showStaffs = false;
      this.showPatients = true;
      this.findpatients();
    },
    doctors: function () {
      this.showDoctors = true;
      this.showAppontments = false;
      this.showStaffs = false;
      this.showPatients = false;
      this.finddoctors();
    },
    appointments: function () {
      this.showDoctors = false;
      this.showAppontments = true;
      this.showStaffs = false;
      this.showPatients = false;
      this.findappointments();
    },
    staffs: function () {
      this.showDoctors = false;
      this.showAppontments = false;
      this.showStaffs = true;
      this.showPatients = false;
      this.findstaffs();
    },
    insertPatients: function () {
      let $this = this;
      if (
        $this.patientsForm.pfname == "" ||
        $this.patientsForm.plname == "" ||
        $this.patientsForm.paddress == "" ||
        $this.patientsForm.pzip == "" ||
        $this.patientsForm.psex == "" ||
        $this.patientsForm.ptelephone == "" ||
        $this.patientsForm.pbirthdate == ""
      ) {
        swal("Error", "Please Fill the Information", "error");
        for (let i in $this.patientsForm) {
          $this.patientsForm[i] = "";
        }
      } else {
        $.ajax({
          url: `${baseURL}/patients/insertone`,
          type: "POST",
          data: this.patientsForm,
          success: function (data, status) {
            if (status === "success") {
              $this.findpatients();
              swal("Good job", "The Information is Submitted", "success");
              for (let i in $this.patientsForm) {
                $this.patientsForm[i] = "";
              }
            }
          },
        });
      }
    },
    deletePatients: function (id) {
      let $this = this;
      $.ajax({
        url: `${baseURL}/patients/deleteone/${id}`,
        type: "DELETE",
        success: function (data, status) {
          if (status === "success") {
            swal("Delete", "Delete", "info");
            $this.findpatients();
            $this.cancelPatients();
          }
        },
      });
    },
    editPatients: function (patient) {
      this.isPatientsEdit = true;
      this.patientsForm.pfname = patient.pfname;
      this.patientsForm.plname = patient.plname;
      this.patientsForm.paddress = patient.paddress;
      this.patientsForm.pzip = patient.pzip;
      this.patientsForm.psex = patient.psex;
      this.patientsForm.ptelephone = patient.ptelephone;
      this.patientsForm.pbirthdate = patient.pbirthdate;
      this.idtoUpdate = patient._id;
    },
    updatePatients: function () {
      let $this = this;
      if (
        $this.patientsForm.pfname == "" ||
        $this.patientsForm.plname == "" ||
        $this.patientsForm.paddress == "" ||
        $this.patientsForm.pzip == "" ||
        $this.patientsForm.psex == "" ||
        $this.patientsForm.ptelephone == "" ||
        $this.patientsForm.pbirthdate == ""
      ) {
        swal("Error", "There is an Error", "error");
      } else {
        $.ajax({
          url: `${baseURL}/patients/updateOne/${this.idtoUpdate}`,
          type: "PUT",
          data: this.patientsForm,
          success: function (data, status) {
            if (status === "success") {
              $this.findpatients();
              swal("Good job!", "Update a Patients", "success");
              for (let i in $this.patientsForm) {
                $this.patientsForm[i] = "";
              }
              $this.isPatientsEdit = false;
            }
          },
        });
      }
    },
    cancelPatients: function () {
      for (let i in this.patientsForm) {
        this.patientsForm[i] = "";
      }
      this.isPatientsEdit = false;
    },

    insertDoctors: function () {
      let $this = this;
      if (
        $this.doctorsForm.dfname == "" ||
        $this.doctorsForm.dlname == "" ||
        $this.doctorsForm.dtelephone == "" ||
        $this.doctorsForm.dspecialty == ""
      ) {
        swal("Error", "Please Fill the Information", "error");
        for (let i in $this.doctorsForm) {
          $this.doctorsForm[i] = "";
        }
      } else {
        $.ajax({
          url: `${baseURL}/doctors/insertone`,
          type: "POST",
          data: this.doctorsForm,
          success: function (data, status) {
            if (status === "success") {
              $this.finddoctors();
              swal("Good job", "The Information is Submitted", "success");
              for (let i in $this.doctorsForm) {
                $this.doctorsForm[i] = "";
              }
            }
          },
        });
      }
    },
    deleteDoctors: function (id) {
      let $this = this;
      $.ajax({
        url: `${baseURL}/doctors/deleteone/${id}`,
        type: "DELETE",
        success: function (data, status) {
          if (status === "success") {
            swal("Delete", "Delete ", "info");
            $this.finddoctors();
            $this.cancelDoctors();
          }
        },
      });
    },
    editDoctors: function (doctor) {
      this.isDoctorsEdit = true;
      this.doctorsForm.dfname = doctor.dfname;
      this.doctorsForm.dlname = doctor.dlname;
      this.doctorsForm.dtelephone = doctor.dtelephone;
      this.doctorsForm.dspecialty = doctor.dspecialty;
      this.idtoUpdate = doctor._id;
    },
    updateDoctors: function () {
      let $this = this;
      if (
        $this.doctorsForm.dfname == "" ||
        $this.doctorsForm.dlname == "" ||
        $this.doctorsForm.dtelephone == "" ||
        $this.doctorsForm.dspecialty == ""
      ) {
        swal("Error", "There is an Error", "error");
      } else {
        $.ajax({
          url: `${baseURL}/doctors/updateOne/${this.idtoUpdate}`,
          type: "PUT",
          data: this.doctorsForm,
          success: function (data, status) {
            if (status === "success") {
              $this.finddoctors();
              swal("Good job!", "Update a Doctor", "success");
              for (let i in $this.doctorsForm) {
                $this.doctorsForm[i] = "";
              }
              $this.isDoctorsEdit = false;
            }
          },
        });
      }
    },
    cancelDoctors: function () {
      for (let i in this.doctorsForm) {
        this.doctorsForm[i] = "";
      }
      this.isDoctorsEdit = false;
    },

    insertAppointments: function () {
      let $this = this;
      console.log(this.appointmentsForm.apatient);
      console.log(this.appointmentsForm.adoctor);

      if (
        $this.appointmentsForm.astatus == "" ||
        $this.appointmentsForm.alocation == "" ||
        $this.appointmentsForm.adate == "" ||
        $this.appointmentsForm.atime == "" ||
        $this.appointmentsForm.apatient == "" ||
        $this.appointmentsForm.adoctor == ""
      ) {
        swal("Error", "Please Fill the Information", "error");
        for (let i in $this.appointmentsForm) {
          $this.appointmentsForm[i] = "";
          $("#doctorsName").trigger(null);
          $("#patientsName").trigger(null);
        }
      } else {
        for (let i = 0; i < this.appointmentsData.length; i++) {
          if (
            this.appointmentsData[i].adate === this.appointmentsForm.adate &&
            this.appointmentsData[i].atime === this.appointmentsForm.atime 
          ) {
            this.error = "error";
            break;
          }
        }
        if (this.error === "error") {
          swal(
            "Error",
            "Cant't Have Two Appointments At The Same Time for the Doctor Nor Patient",
            "error"
          );
          this.appointmentsForm.atime = "";
          this.appointmentsForm.adate = "";
          this.error = "";
        } else {
          $.ajax({
            url: `${baseURL}/appointments/insertone`,
            type: "POST",
            data: this.appointmentsForm,
            success: function (data, status) {
              if (status === "success") {
                $this.findappointments();
                swal("Good job", "The Information is Submitted", "success");
                for (let i in $this.appointmentsForm) {
                  $this.appointmentsForm[i] = "";
                }
                $this.error = "";
              }
            },
          });
        }
      }
    },
    deleteAppointments: function (id) {
      let $this = this;
      $.ajax({
        url: `${baseURL}/appointments/deleteone/${id}`,
        type: "DELETE",
        success: function (data, status) {
          if (status === "success") {
            swal("Delete", "Delete ", "info");
            $this.findappointments();
            $this.cancelAppointments();
          }
        },
      });
    },
    editAppointments: function (app) {
      this.isAppointmentsEdit = true;
      this.appointmentsForm.astatus = app.astatus;
      this.appointmentsForm.alocation = app.alocation;
      this.appointmentsForm.adate = app.adate;
      this.appointmentsForm.atime = app.atime;
      this.appointmentsForm.apatient = app.apatient;
      this.appointmentsForm.adoctor = app.adoctor;
      this.idtoUpdate = app._id;
    },
    updateAppointments: function () {
      let $this = this;
      if (
        $this.appointmentsForm.astatus == "" ||
        $this.appointmentsForm.alocation == "" ||
        $this.appointmentsForm.adate == "" ||
        $this.appointmentsForm.atime == "" ||
       $this.appointmentsForm.adoctor == "" ||
        $this.appointmentsForm.apatient == ""
      ) {
        swal("Error", "There is an Error", "error");
      } else {
        for (let i = 0; i < this.appointmentsData.length; i++) {
          if (
            this.appointmentsData[i].adate == this.appointmentsForm.adate &&
            this.appointmentsData[i].atime == this.appointmentsForm.atime 
          ) {
            this.error = "error";
            break;
          }
        }
        if (this.error == "error") {
          swal(
            "Error",
            "Cant't Have Two Appointments At The Same Time for the Doctor Nor Patient",
            "error"
          );
          this.error = "";
        } else {
          $.ajax({
            url: `${baseURL}/appointments/updateOne/${this.idtoUpdate}`,
            type: "PUT",
            data: this.appointmentsForm,
            success: function (data, status) {
              if (status === "success") {
                $this.findappointments();
                swal("Good job!", "Update a Doctor", "success");
                for (let i in $this.appointmentsForm) {
                  $this.appointmentsForm[i] = "";
                }
                $this.isAppointmentsEdit = false;
                this.error = "";
              }
            },
          });
        }
      }
    },
    cancelAppointments: function () {
      for (let i in this.appointmentsForm) {
        this.appointmentsForm[i] = "";
      }
      this.isAppointmentsEdit = false;
    },

    insertStaffs: function () {
      let $this = this;
      if (
        $this.staffsForm.sfname == "" ||
        $this.staffsForm.slname == "" ||
        $this.staffsForm.susername == "" ||
        $this.staffsForm.spassword == "" ||
        $this.staffsForm.sstaff == ""
      ) {
        swal("Error", "Please Fill the Information", "error");
        for (let i in $this.staffsForm) {
          $this.staffsForm[i] = "";
        }
      } else {
        for (let i = 0; i < this.staffsData.length; i++) {
          if (
            this.staffsData[i].susername == this.staffsForm.susername ||
            this.staffsData[i].spassword == this.staffsForm.spassword
          ) {
            this.error = "error";
            break;
          }
        }
        if (this.error == "error") {
          swal(
            "Error",
            "The Usernames or Passwords Can Not be the Same",
            "error"
          );
          this.error = "";
          this.appointmentsForm.susername = "";
          this.appointmentsForm.spassword = "";
        } else {
          $.ajax({
            url: `${baseURL}/staffs/insertone`,
            type: "POST",
            data: this.staffsForm,
            success: function (data, status) {
              if (status === "success") {
                $this.findstaffs();
                swal("Good job", "The Information is Submitted", "success");
                for (let i in $this.staffsForm) {
                  $this.staffsForm[i] = "";
                  this.error = "";
                }
              }
            },
          });
        }
      }
    },
    deleteStaffs: function (id) {
      let $this = this;
      $.ajax({
        url: `${baseURL}/staffs/deleteone/${id}`,
        type: "DELETE",
        success: function (data, status) {
          if (status === "success") {
            swal("Delete", "Delete ", "info");
            $this.findstaffs();
            $this.cancelStaffs();
          }
        },
      });
    },
    editStaffs: function (staff) {
      this.isStaffsEdit = true;
      this.staffsForm.sfname = staff.sfname;
      this.staffsForm.slname = staff.slname;
      this.staffsForm.susername = staff.susername;
      this.staffsForm.spassword = staff.spassword;
      this.staffsForm.sstaff = staff.sstaff;
      this.idtoUpdate = staff._id;
    },
    updateStaffs: function () {
      let $this = this;
      if (
        $this.staffsForm.sfname == "" ||
        $this.staffsForm.slname == "" ||
        $this.staffsForm.susername == "" ||
        $this.staffsForm.spassword == "" ||
        $this.staffsForm.sstaff == ""
      ) {
        swal("Error", "There is an Error", "error");
      } else {
        for (let i = 0; i < this.staffsData.length; i++) {
          if (
            this.staffsData[i].susername == this.staffsForm.susername ||
            this.staffsData[i].spassword == this.staffsForm.spassword
          ) {
            this.error = "error";
            break;
          }
        }
        if (this.error == "error") {
          swal(
            "Error",
            "The Usernames or Passwords Can Not be the Same",
            "error"
          );
          this.error = "";
          this.appointmentsForm.susername = "";
          this.appointmentsForm.spassword = "";
        } else {
          $.ajax({
            url: `${baseURL}/staffs/updateOne/${this.idtoUpdate}`,
            type: "PUT",
            data: this.staffsForm,
            success: function (data, status) {
              if (status === "success") {
                $this.findstaffs();
                swal("Good job!", "Update a Staffs", "success");
                for (let i in $this.staffsForm) {
                  $this.staffsForm[i] = "";
                }
                $this.isStaffsEdit = false;
                this.error = "";
              }
            },
          });
        }
      }
    },
    cancelStaffs: function () {
      for (let i in this.staffsForm) {
        this.staffsForm[i] = "";
      }
      this.isStaffsEdit = false;
    },
  },
  mounted() {
    $("#doctorsName").select2();
    $("#doctorsName").on("change", () => {
      this.appointmentsForm.adoctor = $("#doctorsName").val();
      console.log(this.appointmentsForm.adoctor);
    });

    $("#patientsName").select2();
    $("#patientsName").on("change", () => {
      this.appointmentsForm.apatient = $("#patientsName").val();
    });
    $("#doctorsTable").DataTable();
    $("#appointmentsTable").DataTable();
    $("#staffsTable").DataTable();
    $("#patientsTable").DataTable();
  },

  watch: {

    patientsData: function (value) {
      $("#patientsTable").DataTable().destroy();
      this.$nextTick(() => {
        $("#patientsTable").DataTable();
      });
    },
    
    doctorsData: function (value) {
      $("#doctorsTable").DataTable().destroy();
      this.$nextTick(() => {
        $("#doctorsTable").DataTable();
      });
    },
    appointmentsData: function (value) {
      $("#appointmentsTable").DataTable().destroy();
      this.$nextTick(() => {
        $("#appointmentsTable").DataTable();
      });
    },
    staffsData: function (value) {
      $("#staffsTable").DataTable().destroy();
      this.$nextTick(() => {
        $("#staffsTable").DataTable();
      });
    },
  },
};
</script>