<template>
  <div class="home">
    <div id="margin">
      <div id="signin">
        <router-link class="nav-link active" to="/signin">Sign In </router-link>
      </div>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="images/banner.jpg"
              class="d-block w-100"
              alt="..."
              height="650px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/banner2.jpg"
              class="d-block w-100"
              alt="..."
              height="650px"
            />
          </div>
          <div class="carousel-item">
            <img
              src="images/banner3.jpg"
              class="d-block w-100"
              alt="..."
              height="650px"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
    </div>
  </div>
</template>

<style scoped>
#image {
  height: 750px;
}
#margin {
  margin-top: 50px;
}
#quote {
  margin-top: 50px;
}
#signin {
  background-color: maroon;
  margin-bottom: 50px;
  text-align: right;  
}
</style>

<script>
export default {
  name: "home",
  data() {
    return {};
  },
};
</script>