<template>
  <div class="signin">
    <div id="signin">
      <h1>Sign In</h1>
      <form id="form"></form>
      <div class="form-group">
        <label class="col-form-label col-form-label-lg">Username</label>
        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="Username"
          v-model="username"
        />
      </div>
      <div class="form-group">
        <label class="col-form-label col-form-label-lg">Password</label>
        <input
          class="form-control form-control-lg"
          type="text"
          placeholder="Passowrd"
          v-model="password"
        />
      </div>
      <div>
        <button
          type="button"
          class="btn btn-info btn-lg"
          id="signbutton"
          @click="signinbtn"
        >
          Sign In
        </button>
        <div class="row" id="setbutton">
          <div class="col-md-6">
            <button type="button" class="btn btn-warning btn-sm">
              Click Here If You Forgot Your Username
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-warning btn-sm">
              Click Here If You Forgot Your Password
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
h1 {
  text-align: center;
}
button {
  width: 100%;
}
#setbutton {
  margin-top: 10px;
}
#signin {
  margin-top: 50px;
  background-color: maroon;
  padding: 80px;
  color: white;
  border-radius: 50px;
}
</style>

<script>
export default {
  name: "signin",
  data() {
    return {
      staff: [],
      username: "",
      password: "",
      which: "",
    };
  },
  methods: {
    findStaffs: function () {
      let $this = this;
      $.ajax({
        url: `${baseURL}/staffs/findall`,
        type: "GET",
        success: function (data, status) {
          if (status === "success") {
            $this.staff = JSON.parse(data);
          }
        },
      });
    },
    signinbtn: function () {
      if (this.username == "" || this.password == "") {
        swal("Error", "Please Fill Your Username or Password", "error");
        this.username = "";
        this.password = "";
      } else {
        for (let i = 0; i < this.staff.length; i++) {
          if (
            this.staff[i].susername == this.username &&
            this.staff[i].spassword == this.password
          ) {
            this.which = this.staff[i].sstaff;

            break;
          } else {
            this.which = "error";
          }
        }
        if (this.which == "Administrator") {
          this.$router.push("administrators");
        }
        if (this.which == "Regular") {
          this.$router.push("staffs");
        }
        if (this.which == "error") {
          swal("Error", "Wrong Username or Password", "error");
          this.username = "";
          this.password = "";
        }
      }
    },
  },
  mounted() {
    this.findStaffs();
  },
};
</script>