<template>
  <div id="footer">
    <footer>
      Copyright <span>{{ year }}</span> ©
    </footer>
  </div>
</template>

<style scoped>
  footer {
    background-color: gray;
    padding: 20px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
  }
</style>

<script>
export default {
  name: "Footer",
  data() {
    return {
      year: "",
    };
  },
  mounted() {
    this.year = new Date().getFullYear();
  },
};
</script>
